.header{
    padding-top: 10px;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.logout-button{
    background-color: #e0f12a;
    width: fit-content;
    height: 30px;
    padding: 0px 16px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    border: none
}
.logo{
    width: auto;
    height: 40px;
}